@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.fundo{
	background-image: linear-gradient(45deg, black, blue);
	height: 100%;
}

body {
	font-family: 'Acme', sans-serif;
	font-size: 20px;
	color: #2c3e50;
	background-color: #DFDBE5;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.calc-imc {
	position: absolute;
	padding: 15px;
	background-color: #c9c2d4;
	border-radius: 5%;
}

@media (min-width: 100px) {
	.calc-imc {
		align-items: center;
		justify-content: center;
		max-width: 252px;
		width: 100%;
		padding: 1em;
	}
}

.visor{
    margin-left: 75px;
    padding: 1rem;
    width: 400px;
    background-color: #fff;
    box-shadow: 6px 6px 30px gray, -6px -6px 20px white;
}

.botao{
	width: 50px;
	height: 50px;
	font-size: 25px;
	color: white;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.808);
	border: none;
	margin: 2px;
	border-radius: 5%;
}

.botao:hover{
	background-color: black;
}

#calcular{
	width: 210px;
	height: 43px;
	margin: 5px;
	font-size: 25px;
	background-color: black;
	color: #fff;
	text-align: right;
	padding: 5px;
}